* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.all-h2 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin: 0px 0px 24px 0px;
}

/* header styles */

header {
    background: url(/images/banner/banner1.png);
    height: 780px;
    background-size: cover;
    text-align: right;
}
.header-div {
    padding: 216px 230px 0 845px;
}
h1 {
    font-weight: 700;
    font-size: 65px;
}
.header-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 24px 0px 32px 0;
}
.header-button {
    width: 160px;
    height: 64px;
    color: white;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.header-button:hover {   
    color: black;
    background-color: aqua;
}

/* section 1 styles */

.section-1 {
    display: flex;
    margin: 130px 230px;
}
.img-person {
    width: 569px;
    height: 723.3px;
}
.sec-1-head{
    margin: 240px 20px 0px 87px;    
}
.sec-1-para{
    padding-bottom: 16px;
}
.tick-description{
    display: flex;
    gap: 16px;
}
.green-check{
    display: inline-block;
    transform: rotate(45deg);
    height: 14px;
    width: 6px;
    border-bottom: 2px solid #16D887;
    border-right: 2px solid #16D887;
}

/* section 2 styles */

.section-2{
    text-align: center;
    margin: 0px 230px;
}
.sec-2-div{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    padding-top: 34px;
}
h3{
    font-weight: 700;
font-size: 30px;
color: #151414;
padding: 24px 0 16px 0;
}
.sec-2-description{
    font-weight: 500;
font-size: 25px;
color: #737272;
}

/* section 3 styles */

.section-3{
    margin: 130px 230px;
    height: 300px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(images/watch.png);
    border-radius: 8px;
}
.sec-3-div{
    padding: 40px 420px 40px 64px
}
.sec-3-h2{
    font-weight: 700;
font-size: 40px;
color: #FFFFFF;
}
.sec-3-btn{
    width: 160px;
height: 64px;
background: #FFFFFF;
border-radius: 5px;
color: #F15B22;
font-weight: 600;
font-size: 20px;
border: none;
margin-top: 30px;
cursor: pointer;
}
.sec-3-btn:hover{
    color: black;
    background-color: aqua;   
}

/* footer styles */

footer{
    height: 520px;
    background: #151414;
    color: white;
}
.footer-div{
    display: flex;
    gap: 240px;
    padding: 130px 230px;
}
.footer-h2{
    font-weight: 700;
font-size: 45px;
margin-bottom: 16px;
}
.footer-description{
    font-weight: 400;
font-size: 16px;
}
.footer-para{
    margin: 24px 0 32px 0px;
}
.footer-img{
    display: flex;
    gap: 18px;
}
.footer-form{
    color: white;
}
.footer-h3{
    color: white;
    font-weight: 600;
font-size: 30px;
}
.footer-email{
    width: 325px;
height: 40px;
border: 1px solid #FFFFFF;
border-radius: 8px;
background: none;
padding: 11px 20px;
margin: 10px 0px 16px 0px;
color: white;
font-size: large;
}
.footer-email::placeholder{
    font-size: large;
}
.footer-button{
    width: 170px;
height: 64px;
background: #FFFFFF;
border-radius: 8px;
color: #F15B22;
font-weight: 600;
font-size: 20px;
cursor: pointer;
}
.footer-button:hover{
    color: #000000;
    background-color: #62E1F8;
}