* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.all-h2 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin: 0px 0px 24px 0px;
}

/* header styles */

header {
    background: url(/images/banner/banner1.png);
    height: 780px;
    background-size: cover;
    text-align: right;
}
.header-div {
    padding: 216px 230px 0 845px;
}
h1 {
    font-weight: 700;
    font-size: 65px;
}
.header-des {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 24px 0px 32px 0;
}
.header-button {
    width: 160px;
    height: 64px;
    color: white;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}
.header-button:hover {
    cursor: pointer;
    color: black;
    background-color: aqua;
}

/* section 1 styles */

.section-1 {
    display: flex;
    margin: 130px 230px;
}
.img-person {
    width: 569px;
    height: 723.3px;
}
.sec-1-head{
    margin: 240px 20px 0px 87px;    
}
.sec-1-para{
    padding-bottom: 16px;
}
.tick-description{
    display: flex;
    gap: 16px;
}
.checkmark {
    display: inline-block;
    transform: rotate(45deg);
    height: 14px;
    width: 6px;
    border-bottom: 2px solid #16D887;
    border-right: 2px solid #16D887;
}

/* section 2 styles */

.section-2{
    text-align: center;
    margin: 0px 230px;
}
.plans{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding-top: 34px;
}
h3{
    font-weight: 700;
font-size: 30px;
color: #151414;
padding: 24px 0 16px 0;
}
.plans-description{
    font-weight: 500;
font-size: 25px;
color: #737272;
}

/* section 3 styles */

